doctype html
html(lang="en")
	head
		base(href="/")
		title= title
	body(ng-app="app")
		h1 Hello from the outside
		ng-view
		h2 Second Hello
		script(src="vendors/angular/angular.min.js")
		script(src="vendors/angular-route/angular-route.min.js")
		script(src="script.js")